**/.idea/*
target/*
.settings/*
.metadata/*
*.iml
*.project
*.classpath
*.factorypath

.settings
target
*.log
/swagger-service/.mvn
/swagger-service/.settings
/swagger-service/target
/swagger-service/.classpath
/swagger-service/.factorypath
/swagger-service/.gitignore
/swagger-service/.project
**/*.tgz